<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Update_Doctor</servlet-name>
        <servlet-class>Controller.Update_Doctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Patient</servlet-name>
        <servlet-class>Controller.Add_Patient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Room</servlet-name>
        <servlet-class>Controller.Add_Room</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Bill</servlet-name>
        <servlet-class>Controller.Add_Bill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_Patient</servlet-name>
        <servlet-class>Controller.Update_Patient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_Room</servlet-name>
        <servlet-class>Controller.Update_Room</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addDoctorServlet</servlet-name>
        <servlet-class>Controller.addDoctorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Book_Appointment</servlet-name>
        <servlet-class>Controller.Book_Appointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cancel_Appointment</servlet-name>
        <servlet-class>Controller.Cancel_Appointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedback</servlet-name>
        <servlet-class>Controller.feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Discharge_Patient</servlet-name>
        <servlet-class>Controller.Discharge_Patient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_Doctor2</servlet-name>
        <servlet-class>Controller.Update_Doctor2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Update_Doctor</servlet-name>
        <url-pattern>/Update_Doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Patient</servlet-name>
        <url-pattern>/Add_Patient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Room</servlet-name>
        <url-pattern>/Add_Room</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Bill</servlet-name>
        <url-pattern>/Add_Bill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_Patient</servlet-name>
        <url-pattern>/Update_Patient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_Room</servlet-name>
        <url-pattern>/Update_Room</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addDoctorServlet</servlet-name>
        <url-pattern>/addDoctorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Book_Appointment</servlet-name>
        <url-pattern>/Book_Appointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cancel_Appointment</servlet-name>
        <url-pattern>/Cancel_Appointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedback</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Discharge_Patient</servlet-name>
        <url-pattern>/Discharge_Patient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_Doctor2</servlet-name>
        <url-pattern>/Update_Doctor2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
